@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-inline: 0.2em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.6em;
}

header {
  border-bottom: 2px solid brown;
  margin-bottom: 1.5em;
}
.nav {
  display: flex;
  justify-content: end;
  gap: 1em;
}

.logo {
  font-family: "Lobster", sans-serif;
  user-select: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 0.2em;
}

.menu-image {
  width: 240px;
  height: 200px;
}

.menu-item {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
